.rangeBottom {
margin: 0 0 50px 0;
}

.rangeBottom_num {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 18px;
  }
}

.rangeTop {
  margin: 0 0 35px 0;
  span {
    font-size: 18px;
  }
}