.dark {
  background: dimgrey;
}

.dark-text {
  color: aliceblue;
  h2 {
    color: aliceblue;
  }
}

.red {
  background: lightcoral;
}

.red-text {
  color: aqua;
  h2 {
    color: aqua;
  }
}

.some {
  background: lightgreen;
}

.some-text {
  color: darkslateblue;
  h2 {
    color: darkslateblue;
  }
}